[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/PaperModX"]
	path = themes/PaperModX
	url = https://github.com/reorx/hugo-PaperModX.git
