
$snider-yellow:  #fed246;

.logo > a {
    color:$snider-yellow;
}
a:hover {
    color: $snider-yellow;
}

h1.post-title, .page-header > h1 {
    color: $snider-yellow;
}

.post-content {
    table {
        display: table;
    }

    thead {
        background-color: $snider-yellow;
        color: black;
    }

    th {
        text-transform: uppercase;
        font-weight: 1000;
        font-size: 1.05em !important;
        font-kerning: normal !important;
    }

    li {
        margin: 0px;
    }

    th, td {
        border:none;
    }

    tr:nth-child(even) {
        background-color: #242424;
    }
}
